*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: radial-gradient(#f27621,#ef4921);
}

.box{
    display: flex;
}

.box .eyes{
    position: relative;
    width: 120px;
    height: 120px;
    display: block;
    background: #fff;
    border-radius: 50%;
    margin: 0 20px;
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.2),
                inset 0 0 15px #f2761e,
                inset 0 0 25px #f2761e;
}

.box .eyes::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 35px;
    transform: translate(-50%,-50%);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #000;
    border: 10px solid #2196f3;
    box-sizing: border-box;
}