@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(https://picsum.photos/id/0/900/900);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

section div{
    max-width: 800px;
}

section div h2{
    color: #fff;
    font-size: 4em;
}

section div p{
    color: #fff;
    text-shadow: 0 1px 5px rgba(0, 0, 0, 1);
    font-size: 1.2em;
    opacity: 0.5;
}

.scrolldown{
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 40px;
    height: 40px;
    transform: translateY(-80px) translateX(-50px)
        rotate(45deg);
}

.scrolldown span{
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    animation: animate 1.5s linear infinite;
    opacity: 0;
}

.scrolldown span:nth-child(1){
    transform: translate(-15px,-15px);
    animation-delay: -0.4s;
}

.scrolldown span:nth-child(2){
    transform: translate(0,0);
    animation-delay: -0.2s;
}

.scrolldown span:nth-child(3){
    transform: translate(15px,15px);
    animation-delay: 0s;
}

@keyframes animate{
    0%{
        top: -5px;
        left: -5px;
        opacity: 0;
    }
    25%{
        top: 0px;
        left: 0px;
        opacity: 1;
    }
    50%,100%{
        top:5px;
        left: 5px;
        opacity: 0;
    }
    
}
